.link-arrow {
  right: 0;
  bottom: 20px;
  @include media-breakpoint-down(md) {
    bottom: 0;
  }
  &-icon {
    font-size: 44px;
    color: $secondary;
    &:hover {
      color: #af3500;
    }
  }
}

.arrow-up{
  transition-duration: 1s;
  right: 2vw;
  bottom: 10vh;
  z-index:100;
  &-icon{
    width: 44px;
  height: 44px;
  border-radius: 50%;
  }
}
