.link-arrow {
  right: 0;
  bottom: 20px;
  @include media-breakpoint-down(md) {
    bottom: 0;
  }
  &-icon {
    font-size: 44px;
    color: $secondary;
    &:hover {
      color: #af3500;
    }
  }
}
